body{
	font-family:Helvetica, Arial, Tahoma;
}

input{
	padding:2px;
	border:1px solid #ccc;
	border-radius:2px;
}

h1.logo{
	text-transform: uppercase;
	color:#fff;
	text-shadow:3px 3px 0px #09c, 6px 6px 0px #000;
	background:#09c;
	text-align:center;
	border-radius:5px;
	padding:20px;
}

.option{
	background:#eee;
	padding:10px;
	margin-bottom:10px;
	width:100%;
	border-radius:5px;
	box-sizing:border-box;
	cursor:pointer;
	display:block;
	color:#000;
	text-decoration:none;
}

.option:hover{
	background:#ccc;
}

.crs{
	background:#09c;
	color:#FFF;
	padding:2px;
	margin-right:5px;
	text-shadow: 1px 1px 0px #000;
}

.smalltext{
	font-size:10px;
}

.pullleft{
	float:left;
}

.crswidth{
	width:25px;
	text-align: center;
	display:block;
}

.pullright{
	float:right;
}

.results{
	width:100%;
	box-sizing:border-box;
	margin:20px 0px;
}

.result:nth-child(even){
	background:#eee;
}

.result td{
	padding:5px;
}